---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import Services from "../components/Services.astro";
import Method from "../components/Method.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Course from "../components/Course.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import WhatsAppFloat from "../components/WhatsAppFloat.astro";
---

<Base>
  <Header />
  <main>
    <Hero />
    <Problem />
    <Services />
    <Method />
    <About />
    <Projects />
    <Course />
    <Contact />
  </main>
  <Footer />
  <WhatsAppFloat />
</Base>
